.product-row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.product-image {
  width: 150px;
  height: auto;
  object-fit: contain;
  border-radius: 7px;
  background: white;
}

.product-info {
  flex: 1;
}

.product-info h3 {
  margin-top: 0;
}

.product-info button {
  margin-right: 10px;
  margin-top: 10px;
}

.product-divider {
  display: none; /* optional if using border-bottom above */
}

.search-input {
    font-size: 1.5rem;
    border: 2px solid transparent;
    border-radius: 7px;
    background-color: black;
}

.search-input:focus {
    border: 2px solid black;
    outline: none;
    background-color: white;
    color: black;
}